ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 26, 26);
  }
  
  li {
    float: left;
    cursor: default;
  }
  
  li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "itc-avant-garde-gothic-pro", Bold;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #135d8f;
  }

  .main {
      background-color:rgb(17, 17, 17) ;
  }